
header {
    display: grid;
    grid-template-columns: auto 1fr; /* Divides the header into two columns */
    align-items: center;  

}
h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color:black;
    margin-left: 75px;
    padding: 0;


}
h1 a{
    text-decoration: none;
    color: black;
}

nav {
    text-align: right;
    margin-right: 75px;
}

nav a {
    font-family: Arial;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;

    
}
.content{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: space-between;
    

}
.welcome-paragraph{
    width:50%;
}
.welcome-paragraph h1{
    font-size: 60px;
    width: 80%;
}
.welcome-paragraph p{
    font-size: 20px;
    margin-left: 75px;
    width: 100%;
    line-height: 1.6;
    word-spacing:0.1em;
}

.profile-image{
    padding-top: 50px;
    width: 40%;
    align-items: end;
    margin-right: 6px;
 

}
.profile-image img {
    width: 90%;
    height: 80%;
    border-radius:10px;
}
hr {
    display: block;
    height: 1px;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
    margin-top: -60px;
    margin-left:75px;
    margin-right:70px;
    margin-bottom: 40px;
    
}
.container{
    display:flex;
    justify-content: center;
}
.header{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;

}
.second content p{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.hobby1{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: space-between;
    

}
.title1{
    width:40%;
    margin-left:75px;
}
.title1 h1{
    font-size: 40px;
    width: 100%;
    margin-left:-2px;
}
.title1 p1{
    font-size: 20px;
    width: 100%;
    line-height: 1.6;
    word-spacing:0.1em;
}

.hobby-image{
    padding-top: 50px;
    width: 45%;
    align-items: end;
    margin-right: 6px;
 

}
.hobby-image img {
    width: 90%;
    height: 80%;
    border-radius:10px;
}
.hobby2{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: space-between;
    

}
.title{
    width:40%;
    margin-right:75px;
}
.title h1{
    font-size: 40px;
    width: 100%;
    margin-left:-2px;
}
.title p{
    font-size: 20px;
    width: 100%;
    line-height: 1.6;
    word-spacing:0.1em;
}

.Snowboarder{
    padding-top: 50px;
    width: 45%;
    align-items: start;
    margin-left: 75px;
 

}
.Snowboarder img {
    width: 90%;
    height: 80%;
    border-radius:10px;
}
.button-display {
    display: flex;
    justify-content: center;
}
button {
    background-color: gray; /* Blue background */
    color: white;           /* White text */
    padding: 10px 20px;     /* Padding around the text */
    border: none;           /* No border */
    border-radius: 5px;     /* Rounded corners */
    cursor: pointer;        /* Pointer cursor on hover */
   
  
  }
  button:hover {
    background-color: black; /* Darker background on hover */
  }

.hr {
    margin-top: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; /* Adjusts the padding */

    font-family: Arial, sans-serif; /* Font style */
}
footer a {
    font-size: 20px;
    color: black;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;

}
.social-icons a {
    color: black; /* Icon color */
    text-decoration: none; /* Removes underline from icons */
    margin: 0 10px; /* Space between icons */
    font-size: 24px; /* Size of icons */
    margin-right: 18px;
  }


.portfolio-container{
    display: flex;
    align-items: left;
    
}
.portfolio-intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 100px;
}

.portfolio-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 75px;
    margin: top -25px;
    color:gray;

}

.portfolio-content {
    display: grid;
    grid-template-columns: auto 1fr; /* Divides the header into two columns */
    align-items: center;
    margin-left: 75px;
    margin-top:100px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.project1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:gray;
    margin-top: -25px;
}
.project1 a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: None;
    color:black;
}
.project2{
    margin-left:83px;
    margin-right: 75px;
}
.project2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:gray;
    margin-top: -25px;
}
.portfolio-content1 {
    display: grid;
    grid-template-columns: auto 1fr; /* Divides the header into two columns */
    align-items: center;
    margin-left: 75px;
    margin-top:10px;
}

.Image-placeholder{
    width:700px;
    height:400px;
    background-color:black;
}
